<div class="container p-3">
    <h2  class="text-center">Your Orders</h2>
    <div class="flex-column">
        <div class="col my-3 mx-auto">
        <% if (messages.error) { %>
            <div class="alert alert-danger" role="alert">
                <%= messages.error %>
            </div>
        <% } %>
        <% if (messages.success) { %>
            <div class="alert alert-success" role="alert">
                <%= messages.success %>
            </div>
        <% } %>
            <div class="card">
                <div class="card-body">
                    <% if (session.cart) { %>
                        <% for(let pizza of Object.values(session.cart.items)) { %> 
                            <%# include('_order', {pizza: pizza.item}) %>
                        <% } %> 
                    <% } %>
                    <table class="">
                        <thead>
                            <th>Orders</th>
                            <th>Order ID</th>
                            <th>Address</th>
                            <th>Status</th>
                            <th>Booked at</th>
                        </thead>
                        <tbody id="ordersTableBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>