<div>
    <div class="d-flex justify-content-between">
        <div class="col-4 p-0">
            <b><%= session.cart.items[pizza._id].item.name %></b><br>
            <small class="text-muted"><%= session.cart.items[pizza._id].item.size %> </small>
        </div>
        <div class="col-4 p-0 text-center">

            <b><%= session.cart.items[pizza._id].quantity %>  QTY</b>
        </div>
        <div class="col-4 p-0 text-right">

            <b>$<%= session.cart.items[pizza._id].itemTotalPrice %> </b>
        </div>
    </div>
    <hr>
</div>
        